body.nodesDialog {
  background: #ffffff;
  padding: 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 75%;
}
html > body { font-size: 12px; }

p, li {
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #262623;
  font-family: Georgia, serif;
}

h1 {
  font-size:1.5em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 1em; 
}

h2 {
  font-size:1.1667em;
  line-height: 1.286em;
  margin-top: 1.929em;
  margin-bottom: 0.643em;  
}

img { border-width: 0; }

ul { margin: 0; padding: 0; }

form.NodesForm ul {
  margin :0;
  padding: 0;
  list-style-type: none;
}

form.NodesForm li {
  display: block;
  margin: 0;
  padding: 6px 5px 9px 0;
  list-style-type: none;
  margin: 0;
}

form.NodesForm label {
  color: #777777;
  font-weight: bold;
  font-size: 95%;
  display: block;
  margin: 0;
  line-height: 150%;
  padding: 0 0 3px;
}

ul.NodeImageListing {
  float: left;
  width: 300px;
  background: #adadad;
  padding: 12px 0 12px 12px;
}

ul.NodeImageListing li {
  list-style: none;
  float: left;
  margin-right: 10px;
  line-height: 0;
  margin-bottom: 0;
  padding-bottom: 12px;
}

ul.NodeImageListing img {
  border: 1px solid #ffffff;
}

.defaultSkin .mceIcon.nodeButton {
  background: url("/images/icons.gif");
  background-repeat: none;
}

.defaultSkin .mceIcon.nodeImageButton {
  background-position: 0 0;
}

.defaultSkin .mceIcon.nodeLinkButton {
  background-position: -20px 0;
}

.defaultSkin .mceIcon.nodeVideoButton {
  background-position: -40px 0;
}
