form.NodesForm ul {
  margin :0;
  padding: 0;
  list-style-type: none;
}

form.NodesForm li {
  display: block;
  margin: 0;
  padding: 6px 5px 9px 0;
  list-style-type: none;
  margin: 0;
}

form.NodesForm label {
  color: #777777;
  font-weight: bold;
  font-size: 95%;
  display: block;
  margin: 0;
  line-height: 150%;
  padding: 0 0 3px;
}

ul.NodeImageListing {
  float: left;
  width: 300px;
  background: #adadad;
  padding: 12px 0 12px 12px;
}

ul.NodeImageListing li {
  list-style: none;
  float: left;
  margin-right: 10px;
  line-height: 0;
  margin-bottom: 0;
  padding-bottom: 12px;
}

ul.NodeImageListing img {
  border: 1px solid #ffffff;
}

.defaultSkin .mceIcon.nodeButton {
  background: url("/images/icons.gif");
  background-repeat: none;
}

.defaultSkin .mceIcon.nodeImageButton {
  background-position: 0 0;
}

.defaultSkin .mceIcon.nodeLinkButton {
  background-position: -20px 0;
}

.defaultSkin .mceIcon.nodeVideoButton {
  background-position: -40px 0;
}

/* --------------------------------------------------------------------------*/
/* ->> COMMENTS <<-----------------------------------------------------------*/
/* --------------------------------------------------------------------------*/
#NodeComments-List ol {
  margin: 0 0 18px;
  list-style-type: none;
  list-style-position: outside;
}

#NodeComments-List ol li {
  padding: 20px 0;
  position: relative;
  border-bottom: 1px solid #9E9E9E;
  border-top: 1px solid #BFBFBF;
}

.NodeComment-Author,
.NodeComment-Meta,
.NodeComment-Content,
.NodeComment-ReplyLink{
  margin-left: 100px;
  display: block;
}

.NodeComment-Author { 
  font-weight: bold;
}

.NodeComment-Meta {
  font-size: 11px;
  padding: 10px 0 9px;
  color: #666666;
}

#NodeComments-List img.avatar {
  background: #171717;
  border: 1px solid #282828;
  float: left;
  margin-left: -95px;
  position: relative;
}

