*.swo
*.swp
.DS\_Store
.DS_Store
spec/spec_failing_examples.txt
spec/specdoc_report.txt
spec/spec_report.html
**/.DS_Store/*
.DS_Store/*
.specification
tmp
test/rails_root/db/migrate/*node_abstracts.rb
test/rails_root/db/schema.rb
test/rails_root/db/development.sqlite3
