- @title = "Edit Attachment"

%ul.Menu.LocalMenu
  %li= link_to "View this Node Attachment", node_attachment_path(@node_attachment)
  %li= link_to "View all Node Images", node_attachments_path

= render :partial => 'form'
