- @title = "Node Image"

%p
  %strong Name:
  =h @node_image.name

%p
  = link_to "Edit", edit_node_image_path(@node_image)
  |
  = link_to "Destroy", @node_image, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", node_images_path
