<%= link_to "Upload a New Attachment", new_node_attachment_url %>

<h2>Browse Attachments</h2>
<ul class="NodeAttachments">
<% @node_attachments.each do |node_attachment| %>
<li><%= link_to(node_attachment.title, node_attachment_url(node_attachment), :id => "NodeAttachment#{node_attachment.id}") %></li>
<% end %>
</ul>
