<%= link_to "Upload a New Attachment", new_attachment_image_url %>

<h2>Browse Attachments</h2>
<ul class="NodeAttachmentListing">
<% @node_attachments.each do |node_attachment| %>
  <li id="NodeImage<%= node_attachment.id %>">
    <%= link_to(image_tag(node_image.file.url(:tiny)), node_image_url(node_image)) %>
<% end %>
</ul>
