<html>
  <head>
    <title>Nodes Image Manager</title>
    <%= javascript_include_tag 'tiny_mce/tiny_mce_popup.js' %>
    <%= javascript_include_tag 'jquery.js' %>
    <%= javascript_include_tag 'nodes/nodes.js' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
